body {
  margin: 3em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.sujetcontainer{
  display: flex;
  margin-bottom: 40px;
}


form {
  width: 40%;
  padding: 2em;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

label {
  font-size: .8em;
}

.inputform {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 2px;
  border: .5px solid #9b9b9b;
  background-color: #f3f3f3;
  height: 30px;
}

.downloadbtn {
  height: 40px;
  width: 100%;
  border-radius: 3px;
  border: none;
  background-color: #5c32a8;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  margin-top: 10px;
}

.view {
  width: 50%;
  margin-left: 50px;
  text-align: center;
}

.sujet_img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
}

.layer {
  height: 50%;
  width: 100%;
  background-color: #fff;
  opacity: 0.7;
  bottom: 0;
  position: absolute;
}

.viewinner {
  position: absolute;
  width: 100%;
  top: 50%;
  color: #4b4b4b;
}

.title {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  border-bottom: 1px solid;
  border-top: 1px solid;
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.date {
  margin-top: 25px;
  font-size: 18px;
  text-transform: uppercase;
}

.place{
  font-style: italic;
}